{{define "uninstall_modal"}}
<dialog id="uninstall-modal" class="modal modal-lg" aria-labelledby="uninstall-modal-title">
  <div class="modal-header">
    <h2 class="modal-title" id="uninstall-modal-title">Uninstall instructions</h2>
    {{template "modal_close"}}
  </div>
  <div class="modal-body">
    <div id="uninstall-instructions-container"></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-close-modal>Close</button>
  </div>
</dialog>
{{end}}
